[%# First line will be summary, second line will be description. Avoid indenting. Var newline added to avoid translating problems. -%] [%- newline="\n" | html -%] [%- IF overdue == 1 -%] [% title | html %] نسخة مستحقة [%- newline | html -%] نسختك [% title | html %] (باركود [% barcode | html %]) متأخرة [%- ELSE -%] [% title | html %] مستحقة [%- newline | html -%] نسختك من [% title | html %] (باركود [% barcode | html %]) مستحقة الإعادة إلى المكتبة اليوم [%- END -%]